@use 'abstract';
@use 'base';
@import '_breakpoints.scss';
@import '_include-media.scss';

// variables
$maxWidth: 1440px;
$contentWidth: 1200px;
$thinContentWidth: 768px;
$sectionPadding: 1.25rem;

body {
    padding: 0;
    margin: 0;
}

section {
    width: 100%;
    max-width: $contentWidth;
    padding: 0.75rem $sectionPadding;
    margin: auto;
    @include media('<lg') {
        width: 100%;
    }
    &.max-width {
        max-width: $maxWidth;
    }
    &.thin-width {
        max-width: $thinContentWidth;
    }
    &.full-width {
        max-width: 100%;
    }
}

.number-inc-dec {
    min-width: 86px;
    max-width: 86px;
    align-items: center;
    .p-button {
        width: 2rem;
        height: 32px;
        width: 32px;
        border-radius: 50% !important;
    }
    .p-inputtext {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
        &:focus {
            outline: none !important;
            border: none !important;
        }
    }
}
